body{
    background-color: lightgray;
}
.titulo-Principal{
    text-align: center;
    letter-spacing: 10px;
}
.contenido-Principal{
    /* width: 800px; */
    /* Medidas relativas */
    width: 90%;
    margin: 0 auto;
}
.contenido-Principal .Contenido-1{
    width: 70%;
    margin: 0 auto;
}
.contenido-Principal .encabezado{/* .dentro-de .busca */
    background-color: grey;
    color: white;
    padding: 10px 10px;
}
.contenido-Principal .contenido-imagen{
    float: left;
}
.contenido-Principal .contenido-texto{
    margin-left: 150px;
}
.contenido-Principal .contenido-texto p {
    text-indent: 20px;
    text-align: justify;
}